/* @import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://kit.fontawesome.com/a076d05399.js'); */


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Carter One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
